{
 email {$ACME_EMAIL}
}
{$DOMAIN} {
 request_body {
  max_size 4KB
 }
 header {
  Strict-Transport-Security "max-age=31536000"
  X-Content-Type-Options nosniff
  -Server
 }
 reverse_proxy directory:8080 {
  header_up X-Real-IP {remote_host}
 }
}
