.godot/
assets/audio/*.wav
assets/audio/*.import
# Approved vocal performances are release inputs, not recreated by the foley builder.
!assets/audio/vocal_*.wav
assets/Korean.ttf
assets/Korean.ttf.import
*.uid
__pycache__/
assets/models/*.scn
assets/models/*.glb
assets/models/*.import

addons/webrtc_native/lib/
assets/arenas/geometry/

assets/arenas/complete/
assets/door_leaves/

tools/announcer/*.wav.import
